<!--Page to Include the Informaton about the SME-->

<body>

<section>
<img src="assets/letter.svg" style="height:150px;width: 250px">
</section>

<section>
<header>
Small Medium-Enterprise
<hr class="line">
</header>
</section>

<section>
<p>In just 5 steps you can have a pool of investors,partners and talented individuals willing to help you grow your business.</p>
</section>

<section>
Section to deliver the gif for steps
</section>

<section>
<p>We advice all SMEs listing on our platform to check and where appicable within the  legal framework in {{Country}} to abide to the procedures necessary in :-</p>
</section>

<section>
<ul type="none" style="margin: 10px">
	<li>a.) <a href="AssetInformationComponent">Copyright and trademarking procedures.</a></li>
	<li>b.) <a href="AssetInformationComponent">Patent rules and procedures.</a></li>
	<li>c.) <a href="AssetInformationComponent">Business registration procedures.</a></li>
	<li>d.) <a href="AssetInformationComponent">National Environmental Management Authority(NEMA) regulations and procedures.</a></li>
	<li>e.) <a href="AssetInformationComponent">Kenya Revenue Authority procedures and regulations.</a></li>
	<li>f. ) <a href="AssetInformationComponent">Capital Markets authority if applicable.</a></li>
</ul>
</section>

<section>
	<button mat-raised-button color="basic" 
	style="margin-right: 30%" [routerLink]="'/login'">
	Back
	</button>
	<button mat-raised-button color="basic"
	style="margin-right: 30%" [routerLink]="'/AssetInformationComponent'">Next</button>
</section>

<footer class="footer">
<img ng-src="assets/footer.svg" src="/assets/footer.svg">
</footer>
</body>