<section>
<mat-card>
<mat-card-content style="margin-left: 30%;margin-right: 25%">
The following questons will help us understand best how Ferris Air is structured and managed.<br>
The information you provide will be shared to our investors and analytics who will verify and ensure there are no legal issues.<br>
All the information provided is treated with outmost privacy we do not store indivual correspondent IDs.<br>
NB:- You are not required to share any business secrets.
</mat-card-content>
</mat-card>
<p style="margin-left: 35%;margin-right: 35%">
<button mat-raised-button color="basic">Next - Management Structure</button>
</p>
</section>