<body class="pageLayout">
  <section class="bodyIndividual">

    <section class="menu-section-left" [ngClass]="status ? 'open' : 'close'">
      <button class="menuCloseBtn" (click)="status=!status">
        <img src="../../assets/close-icon.svg"/>
      </button>

      <section class="logo-section">
        <div class="logo-img">
          <a [routerLink]="['/LandingPageComponent']">
          <img src="assets/footerDope.svg" alt="Mzynga Technology" style="height:200px;width:200px">
          </a>
        </div>
        <div class="notify">
        <div class="notSection"
        ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/QuestionsComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item><span class="urlfront">+ Investment process</span></mat-list-item>
        </mat-list>
        </a>
        </div>


        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/InvestmentPageComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item> <span class="urlfront">+ Inv. chances (113,467)</span></mat-list-item>
        </mat-list>
        </a>
        </div>

        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/QuestionsComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item> <span class="urlfront">+ Request partnerships</span></mat-list-item>
        </mat-list>
        </a>
        </div>

        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/PledgeComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item> <span class="urlfront">+ P.ship chances (12,467)</span></mat-list-item>
        </mat-list>
        </a>
        </div>

        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/QuestionsComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item><span class="urlfront">+ Request deal</span></mat-list-item>
        </mat-list>
        </a>
        </div>

        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/BusinessDealsComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item> <span class="urlfront">+ Deal chances(83,467)</span></mat-list-item>
        </mat-list>
        </a>
        </div>

        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/JobsComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item> <span class="urlfront">+ Job (19,13,467)</span></mat-list-item>
        </mat-list>
        </a>
        </div>

        <div class="notSection" ng-class="{addBG:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <a [routerLink]="['/LandingPageComponent']" style="text-decoration: none;">
        <mat-list>
        <mat-list-item> <span class="urlfront">+ Homepage</span></mat-list-item>
        </mat-list>
        </a>
        </div>
        </div>
      </section>

    </section>

    <section class="menu-section-centre">
      <!--THIS IS THE FIRST SECTION-->
    <section class="searchsort-element">

        <div class="searchSection positionSticky">
          <div class="headerTop" style="width: 100%">
        <section>
            <div class="menuBtn">
              <button type="button" class="btn" (click)="status=!status" ><img src="../../assets/menu-button.svg"/></button>
            </div>
        </section>
        <section>
          <h2 class="introTextIndividual">
          <span class="underlineBlack">
            Brookside Dairies Limited Investment Campaign(Standard Icon)
          </span>
          </h2>
        </section>
            <section class="accountSection">
              <div class="accountSectionFlex">
                <h2>To invest
                  <button mat-stroked-button class="menuBttn">
                    <span class="linkClass">
                      Log In
                    </span>
                  </button>
                </h2>
              </div>
            </section>
          </div>
          </div>

        <div class="notification-Element">
        <div class="upper-notification">
        <div class="upper-notification1">
        <div class="flex-container">
        <dt  class="introTextIndividual"><span class="underlineBlack">Capital Investment</span></dt>
        <dd class="introIndividual">Lorem ipsum dolor sit amet, ne sed inimicus ullamcorper. Ex sumo melius inciderint sed, at qui ullum recteque? Ex sed assum tritani quaerendum, invidunt accusata delicata sit te, pro enim prima ipsum at! Ad vim habemus recusabo voluptatum, ei quem molestie percipitur pri. Nam in veniam aeterno rationibus, lorem argumentum no quo, est eu commune expetenda rationibus.</dd>
        <dd>Phase 1 : Kshs 450,567,789<br>
          Phase 2 : Kshs 345,678,900<br>
          Phase 3 : Kshs 230,456,890</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd class="introIndividual"> Lorem ipsum dolor sit amet, nec saepe graecis delectus ne, id sint virtute contentiones sed. Hinc offendit moderatius at has, sed quidam tractatos ea, ei mel tale latine efficiantur! Has ea civibus omittam, eu his posse sadipscing. Solum legendos eleifend id vis? Has agam quidam et, lorem antiopam vel ea!
        Persius labores conclusionemque at eos, ne laudem possit iudicabit mel? Eum erat abhorreant accommodare an, lorem etiam mel ne! Mel munere iracundia signiferumque eu, an nullam tritani oblique pri. Illud solet te vis, ei autem eligendi moderatius nec, est ut nonumes legendos?</dd>
        <dd>
          <span style="padding: 5px">
          <button mat-stroked-button class="menuBttn"><span class="linkClass">Invest</span></button>
          </span>
          <span style="padding: 5px">
          <button mat-stroked-button class="menuBttn"><span class="linkClass">Add to watchlist</span></button>
          </span>
          <span style="padding: 5px">
          <button mat-stroked-button class="menuBttn"><span class="linkClass">Add recommendation</span></button>
          </span>
          <span style="padding: 5px">
          <button mat-stroked-button class="menuBttn"><span class="linkClass">Report scam</span></button>
          </span>
        </dd>
        </div>
        </div>
        </div>
        </div>


        <div class="notification-Element">
        <div class="upper-notification">
        <div class="upper-notification1">
        <div class="flex-container">
        <dt  class="introTextIndividual"><span class="underlineBlack">Investment statistics</span></dt>
        <dd class="introIndividual">
          <span class="notificationElement">Cash capital Investment:
            <a href="#"><span class="numberClass">47 Investors</span></a>
           Amount raised so far : Kshs 45,000,000
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Skills Investment:
            <a href="#"><span class="numberClass">50 applicants</span></a>
           Approved applications : none approved so far.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Time Investment:
            <a href="#"><span class="numberClass">30 applicants</span></a>
           Approved applications : 45 approved so far.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Distribution partnerships:
            <a href="#"><span class="numberClass">3 applicants</span></a>
           Approved applications : 1 approved so far for Meru region.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Legal partnerships:
            <a href="#"><span class="numberClass">3 applicants</span></a>
           Approved applications : 1 accepted.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Education partnerships:
            <a href="#"><span class="numberClass">4 applicants</span></a>
           Approved applications : 1 approved so far for Meru language.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Revenue partnerships:
            <a href="#"><span class="numberClass">56 applicants</span></a>
           Approved applications : All declined.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Share swap:
            <a href="#"><span class="numberClass">78 applicants</span></a>
           Approved applications : 1 approved so far for Meru region.
          </span>
        </dd>
        <dd class="introIndividual">
          <span class="notificationElement">Custodial services:
            <a href="#"><span class="numberClass">0 applicants</span></a>
           Approved applications : null.
          </span>
        </dd>
        </div>
        </div>
        </div>
        </div>

      </section>
    </section>
  </section>

<section class="individualfooterGrid">

    <div class="footerBottomIndividual">
    <div class="bottomServiceRow positionSticky">
    <div class="footerbottom">
    <div class="secondfooterflex">
      <h3 class="testClass"><span class="footerLinks">+</span>
        <a [routerLink]="['/StatisticsComponent']" style="text-decoration: none" class="footerLinks">About Company</a>
      </h3>
      <h3 class="testClass"><span class="footerLinks">+</span>
        <a [routerLink]="['/StatisticsComponent']" style="text-decoration: none" class="footerLinks">Investment requested</a>
      </h3>
    </div>
    </div>

    <div class="pledgeBottom">
    <div class="secondfooterflex">
      <h3 class="testClass">
        <span class="footerLinks">+</span>
        <a [routerLink]="['/PledgeComponent']" style="text-decoration: none" class="footerLinks">Deals published</a>
      </h3>
      <h3 class="testClass">
        <span class="footerLinks">+</span><a [routerLink]="['/StatisticsComponent']" style="text-decoration: none" class="footerLinks">Partners requested</a>
      </h3>
    </div>
    </div>

    <div class="dealsBottom footerLogo">
    <div class="imgd">
    </div>
    </div>

    <div class="dealsBottom">
    <div class="secondfooterflex">
      <h3 class="testClass">
      <span class="footerLinks">+</span><a [routerLink]="['/BusinessDealsComponent']" style="text-decoration: none"
      class="footerLinks">Investment stats</a>
      </h3>
      <h3 class="testClass"><span class="footerLinks">+</span>
        <a [routerLink]="['/StatisticsComponent']" style="text-decoration: none" class="footerLinks">Deals closed
      </a>
    </h3>
    </div>
    </div>
    <div class="footerbottom">
    <div class="secondfooterflex">
      <h3 class="testClass"><span class="footerLinks">+</span>
        <a [routerLink]="['/JobsComponent']" style="text-decoration: none">Company docs</a></h3>
      <h3 class="testClass"><span class="footerLinks">+</span>
        <a [routerLink]="['/StatisticsComponent']" style="text-decoration: none" class="footerLinks">Jobs applied</a></h3>
    </div>
    </div>
    </div>
    </div>

</section>

</body>
