<body class="pageLayout">
<section class="body">
<section class="menu-section-left">
			<section class="logo-section">

				<div class="logo-img">
					<img  src="assets/footerDope.svg" alt="Mzynga Technology" style="height:200px;width:200px">
				</div>





				<div class="notify">
					<div class="notSection">
						<!--Play with this state of the panel-->
						<mat-expansion-panel>
							<mat-expansion-panel-header class="notHeader">
								<mat-panel-title class="linkClass">
									Your Investments
								</mat-panel-title>
								<mat-panel-description style="color: rgba(30, 28, 28, 0.99)">
									4.5K
								</mat-panel-description>
							</mat-expansion-panel-header>
							<mat-panel-description>
								<p class="ibmplexmono">
									<br>
									<span class="firstPart" [routerLink]="['/InvestmentPageComponent']">Processing :&nbsp;</span>
									<span class="secondPart" [routerLink]="['/InvestmentPageComponent']">1 K pledges</span>
									<br>
									<span class="firstPart" [routerLink]="['/InvestmentPageComponent']">Successful :&nbsp;</span>
									<span class="secondPart" [routerLink]="['/InvestmentPageComponent']">1 K pledges</span>
								</p>
							</mat-panel-description>
						</mat-expansion-panel>
					</div>
					<div class="notSection">
						<mat-expansion-panel>
							<mat-expansion-panel-header class="notHeader">
								<mat-panel-title class="linkClass">
									Mzynga Pledges
								</mat-panel-title>
								<mat-panel-description style="color: rgba(30, 28, 28, 0.99)">
									1.5K
								</mat-panel-description>
							</mat-expansion-panel-header>
							<mat-panel-description>
								<p class="ibmplexmono">
									<span class="firstPart">Watchlist :&nbsp;</span>
									<span class="secondPart">200 pledges</span>
									<br>
									<span class="firstPart">Processing :&nbsp;</span>
									<span class="secondPart">800 pledges</span>
									<br>
									<span class="firstPart">Successful :&nbsp;</span>
									<span class="secondPart">500 pledges</span>
								</p>
							</mat-panel-description>
						</mat-expansion-panel>
					</div>
					<div class="notSection">
						<mat-expansion-panel>
							<mat-expansion-panel-header class="notHeader">
								<mat-panel-title class="linkClass">
									Your Deals
								</mat-panel-title>
								<mat-panel-description style="color: rgba(30, 28, 28, 0.99)">
									5.2K
								</mat-panel-description>
							</mat-expansion-panel-header>
							<mat-panel-description>
								<p class="ibmplexmono">
									<span class="firstPart">Watchlist :&nbsp;</span>
									<span class="secondPart">2.2 K pledges</span>
									<br>
									<span class="firstPart">Processing :&nbsp;</span>
									<span class="secondPart">1.5 K pledges</span>
									<br>
									<span class="firstPart">Successful :&nbsp;</span>
									<span class="secondPart">1.5 K pledges</span>
								</p>
							</mat-panel-description>
						</mat-expansion-panel>
					</div>
					<div class="notSection">
						<mat-expansion-panel>
							<mat-expansion-panel-header class="notHeader">
								<mat-panel-title class="linkClass">
									Your Jobs
								</mat-panel-title>
								<mat-panel-description style="color: rgba(30, 28, 28, 0.99)">
									None
								</mat-panel-description>
							</mat-expansion-panel-header>
							<mat-panel-description>
								<p class="ibmplexmono">
									<span class="firstPart">Watchlist :&nbsp;</span>
									<span class="secondPart">2.5 K pledges</span>
									<br>
									<span class="firstPart">Processing :&nbsp;</span>
									<span class="secondPart">1 K pledges</span>
									<br>
									<span class="firstPart">Successful :&nbsp;</span>
									<span class="secondPart">1 K pledges</span>
								</p>
							</mat-panel-description>
						</mat-expansion-panel>
					</div>
					<div class="notSection">
					<mat-list>
					<mat-list-item class="urlClass">+ Learn about our investment process</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ Seek Investments</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ Invest in promising ventures</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ See available opportunities</mat-list-item>
					</mat-list>
					</div>
					<div class="notSection">
					<mat-list>
					<mat-list-item class="urlClass">+ Learn about the pledge process</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ Seek pledges</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ Sponsor pledges</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ See all available pleadges</mat-list-item>
					</mat-list>
					</div>
					<div class="notSection">
					<mat-list>
					<mat-list-item class="urlClass">+ Learn about business deals</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ Post a deal</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ Close a deal</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="urlClass">+ See all available deals</mat-list-item>
					</mat-list>
					</div>
				</div>
			</section>
</section>

<section class="menu-section-centre">

			<!--THIS IS THE FIRST SECTION-->
			<section class="searchsort-element">
				<div class="search-Element">
					<div class="searchButtonElement">
						<div class="searchSection">
							<div style="width: 100%">
								<mat-form-field [floatLabel]="Mzynga" class="searchInput">
									<mat-label>Search for Jobs , deals , pledges and investments</mat-label>
									<input matInput placeholder="Enter name to search">
								</mat-form-field>
								<button mat-stroked-button class="searchbutton"><span class="linkClass">Search</span></button>
								<h2 class="intro">
									We are a peer to peer business platform,that specializes in giving both individuals and companies an opportunity to pledge and securely invest in promising ventures.We provide an easy legal process for SMEs to post 
									<span class="underline">business deals</span> , <span class="underline">seek pledges</span> , <span class="underline">hire talent</span> and <span class="underline">seek investment</span>.
								</h2>
							</div>
						</div>


						<div class="introductionElement">

							<section class="menuClass">
								<div>
									<img src="assets/funding.svg" style="height: 150px;width: 150px">
								</div>
								<div>
									<h2 class="ibmplexmono"><span class="underline">113,467</span><span><img src="assets/market.svg"></span></h2>
									<h3 class="rufinaserif">Investment deals</h3>
									<h2 class="ibmplexmono">
										<button mat-stroked-button class="menuBttn" [routerLink]="['/InvestmentPageComponent']">
											<span class="linkClass">See all
											</span>
										</button>
									</h2>
								</div>
							</section>

							<section class="menuClass">
								<div>
									<img src="assets/pledge.svg" style="height: 150px;width: 150px">
								</div>
								<div>
									<h2 class="ibmplexmono"><span class="underline">11,467</span><span><img src="assets/market.svg"></span></h2>
									<h3 class="rufinaserif">Pledge opportunities</h3>
									<h2 class="ibmplexmono">
										<button mat-stroked-button class="menuBttn" [routerLink]="['/PledgeComponent']">
											<span class="linkClass">See all
											</span>
										</button>
									</h2>
								</div>
							</section>

							<section class="menuClass">
								<div>
									<img src="assets/deals.svg" style="height: 150px;width: 150px">
								</div>
								<div>
									<h2 class="ibmplexmono"><span class="underline">83,467</span><span><img src="assets/market.svg"></span></h2>
									<h3 class="rufinaserif">Business deals</h3>
									<h2 class="ibmplexmono">
										<button mat-stroked-button class="menuBttn">
											<span class="linkClass">See all
											</span>
										</button>
									</h2>
								</div>
							</section>

							<section class="menuClass">
								<div>
									<img src="assets/job.svg" style="height: 150px;width: 150px">
								</div>
								<div>
									<h2 class="ibmplexmono"><span class="underline">9,873,467</span><span><img src="assets/market.svg"></span></h2>
									<h3 class="rufinaserif">Work opportunities</h3>
									<h2 class="ibmplexmono">
										<button mat-stroked-button class="menuBttn">
											<span class="linkClass">See all
											</span>
										</button>
									</h2>
								</div>
							</section>

						</div>
					</div>
				</div>


				<div class="notification-Element">

					<div class="upper-notification">

						<div class="upper-notification1">
								<div class="flex-nav">
									<div class="flex-nav-right">
										<h2 class="smallIntroCB"><span class="underline">TIME </span> , <span class="underline">SKILL </span> &
											<span class="underline">money</span> INVESTMENT OPPORTUNITIES</h2>
										</div>
										<div class="flex-nav-left"><h2 class="smallIntroNoCB"><span class="underline">113,467</span><span><img src="assets/market.svg"></span> more opportunities.........<span><button mat-stroked-button class="searchbutton"><span class="linkClass" [routerLink]="['/InvestmentPageComponent']">See more</span></button></span></h2></div>
									</div>
									<div class="flex-container">
										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src='../../assets/letter.svg' alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Seeking <span class="underline">Kshs 1,000,000</span> valued at <span class="underline">Kshs 200,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>
										<div class="flex-video">

											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">MZYNGA TECHNOLOGY</mat-card-title>
													<mat-card-subtitle class="campaignTitle">TECHNOLOGY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src='../../assets/letter.svg' alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>

										</div>
										<div class="flex-video">

											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">BROOKSIDE</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AGRI INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src='../../assets/brookside.jpg' alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>
										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">JOGOO UNGA</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AGRI INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src='../../assets/Jogoo.jpg' alt="Photo of a Shiba Inu" style="height: 200px;width: 250px">
												<mat-card-content>
													<p class="campaignTitle">
														Seeking <span class="underline">5,000,000</span> valued at <br><span class="underline">Kshs 200,000,000</span>
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>

										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>

										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>
									</div>
						</div>





							<div class="middle-uppernotification">
								<div class="flex-nav">
									<div class="flex-nav-right">
										<h2 class="smallIntroCB"><span class="underline">TIME </span> , <span class="underline">SKILL </span> &
											<span class="underline">money</span> PLEDGE SEEKING OPPORTUNITIES</h2>
										</div>
										<div class="flex-nav-left"><h2 class="smallIntroNoCB"><span class="underline">113,467</span><span><img src="assets/market.svg"></span> more opportunities.........<span><button mat-stroked-button class="searchbutton"><span class="linkClass">See more</span></button></span></h2></div>
									</div>
									<div class="flex-container">
										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>
										<div class="flex-video">

											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>

										</div>
										<div class="flex-video">

											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>
										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>

										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>

										<div class="flex-video">
											<mat-card>
												<mat-card-header>
													<div mat-card-avatar class="profilePic"></div>
													<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
													<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
												</mat-card-header>
												<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
												<mat-card-content>
													<p class="campaignTitle">
														Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
														seeking <br><span class="underline">USD$ 400,000,000</span>.
													</p>
												</mat-card-content>
												<mat-card-actions>
													<button mat-button class="linkClass">INVEST</button>
													<button mat-button class="linkClass">WATCH</button>
												</mat-card-actions>
											</mat-card>
										</div>
									</div>
							</div>






								<div class="middle-lowernotification">
									<div class="flex-nav">
										<div class="flex-nav-right">
											<h2 class="smallIntroCB"><span class="underlineBlack">BUSINESS DEAL OPPORTUNITIES </span></h2>
											</div>
											<div class="flex-nav-left"><h2 class="smallIntroNoCB"><span class="underline">113,467</span><span><img src="assets/market.svg"></span> more opportunities.........<span><button mat-stroked-button class="searchbutton"><span class="linkClass" [routerLink]="['/InvestmentPageComponent']">See more</span></button></span></h2></div>
										</div>
										<div class="flex-container">
											<div class="flex-video">
												<mat-card>
													<mat-card-header>
														<div mat-card-avatar class="profilePic"></div>
														<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
														<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
													</mat-card-header>
													<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
													<mat-card-content>
														<p class="campaignTitle">
															Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
															seeking <br><span class="underline">USD$ 400,000,000</span>.
														</p>
													</mat-card-content>
													<mat-card-actions>
														<button mat-button class="linkClass">INVEST</button>
														<button mat-button class="linkClass">WATCH</button>
													</mat-card-actions>
												</mat-card>
											</div>
											<div class="flex-video">

												<mat-card>
													<mat-card-header>
														<div mat-card-avatar class="profilePic"></div>
														<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
														<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
													</mat-card-header>
													<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
													<mat-card-content>
														<p class="campaignTitle">
															Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
															seeking <br><span class="underline">USD$ 400,000,000</span>.
														</p>
													</mat-card-content>
													<mat-card-actions>
														<button mat-button class="linkClass">INVEST</button>
														<button mat-button class="linkClass">WATCH</button>
													</mat-card-actions>
												</mat-card>

											</div>
											<div class="flex-video">

												<mat-card>
													<mat-card-header>
														<div mat-card-avatar class="profilePic"></div>
														<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
														<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
													</mat-card-header>
													<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
													<mat-card-content>
														<p class="campaignTitle">
															Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
															seeking <br><span class="underline">USD$ 400,000,000</span>.
														</p>
													</mat-card-content>
													<mat-card-actions>
														<button mat-button class="linkClass">INVEST</button>
														<button mat-button class="linkClass">WATCH</button>
													</mat-card-actions>
												</mat-card>
											</div>
											<div class="flex-video">
												<mat-card>
													<mat-card-header>
														<div mat-card-avatar class="profilePic"></div>
														<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
														<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
													</mat-card-header>
													<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
													<mat-card-content>
														<p class="campaignTitle">
															Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
															seeking <br><span class="underline">USD$ 400,000,000</span>.
														</p>
													</mat-card-content>
													<mat-card-actions>
														<button mat-button class="linkClass">INVEST</button>
														<button mat-button class="linkClass">WATCH</button>
													</mat-card-actions>
												</mat-card>
											</div>

											<div class="flex-video">
												<mat-card>
													<mat-card-header>
														<div mat-card-avatar class="profilePic"></div>
														<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
														<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
													</mat-card-header>
													<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
													<mat-card-content>
														<p class="campaignTitle">
															Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
															seeking <br><span class="underline">USD$ 400,000,000</span>.
														</p>
													</mat-card-content>
													<mat-card-actions>
														<button mat-button class="linkClass">INVEST</button>
														<button mat-button class="linkClass">WATCH</button>
													</mat-card-actions>
												</mat-card>
											</div>

											<div class="flex-video">
												<mat-card>
													<mat-card-header>
														<div mat-card-avatar class="profilePic"></div>
														<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
														<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
													</mat-card-header>
													<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
													<mat-card-content>
														<p class="campaignTitle">
															Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
															seeking <br><span class="underline">USD$ 400,000,000</span>.
														</p>
													</mat-card-content>
													<mat-card-actions>
														<button mat-button class="linkClass">INVEST</button>
														<button mat-button class="linkClass">WATCH</button>
													</mat-card-actions>
												</mat-card>
											</div>
										</div>
								</div>





									<div class="lower-notification">
										<div class="flex-nav">
											<div class="flex-nav-right">
												<h2 class="smallIntroCB"><span class="underlineBlack">JOB OPPORTUNITIES</span></h2>
												</div>

												<div class="flex-nav-left">
													<h2 class="smallIntroNoCB"><span class="underline">113,467</span><span><img src="assets/market.svg"></span> more opportunities.........<span>
														<button mat-stroked-button class="searchbutton"><span class="linkClass">See more</span></button></span>
													</h2>
												</div>

											</div>
											<div class="flex-container">
												<div class="flex-video">
													<mat-card>
														<mat-card-header>
															<div mat-card-avatar class="profilePic"></div>
															<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
															<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
														</mat-card-header>
														<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
														<mat-card-content>
															<p class="campaignTitle">
																Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
																seeking <br><span class="underline">USD$ 400,000,000</span>.
															</p>
														</mat-card-content>
														<mat-card-actions>
															<button mat-button class="linkClass">INVEST</button>
															<button mat-button class="linkClass">WATCH</button>
														</mat-card-actions>
													</mat-card>
												</div>
												<div class="flex-video">

													<mat-card>
														<mat-card-header>
															<div mat-card-avatar class="profilePic"></div>
															<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
															<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
														</mat-card-header>
														<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
														<mat-card-content>
															<p class="campaignTitle">
																Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
																seeking <br><span class="underline">USD$ 400,000,000</span>.
															</p>
														</mat-card-content>
														<mat-card-actions>
															<button mat-button class="linkClass">INVEST</button>
															<button mat-button class="linkClass">WATCH</button>
														</mat-card-actions>
													</mat-card>

												</div>
												<div class="flex-video">

													<mat-card>
														<mat-card-header>
															<div mat-card-avatar class="profilePic"></div>
															<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
															<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
														</mat-card-header>
														<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
														<mat-card-content>
															<p class="campaignTitle">
																Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
																seeking <br><span class="underline">USD$ 400,000,000</span>.
															</p>
														</mat-card-content>
														<mat-card-actions>
															<button mat-button class="linkClass">INVEST</button>
															<button mat-button class="linkClass">WATCH</button>
														</mat-card-actions>
													</mat-card>
												</div>
												<div class="flex-video">
													<mat-card>
														<mat-card-header>
															<div mat-card-avatar class="profilePic"></div>
															<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
															<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
														</mat-card-header>
														<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
														<mat-card-content>
															<p class="campaignTitle">
																Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
																seeking <br><span class="underline">USD$ 400,000,000</span>.
															</p>
														</mat-card-content>
														<mat-card-actions>
															<button mat-button class="linkClass">INVEST</button>
															<button mat-button class="linkClass">WATCH</button>
														</mat-card-actions>
													</mat-card>
												</div>

												<div class="flex-video">
													<mat-card>
														<mat-card-header>
															<div mat-card-avatar class="profilePic"></div>
															<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
															<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
														</mat-card-header>
														<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
														<mat-card-content>
															<p class="campaignTitle">
																Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
																seeking <br><span class="underline">USD$ 400,000,000</span>.
															</p>
														</mat-card-content>
														<mat-card-actions>
															<button mat-button class="linkClass">INVEST</button>
															<button mat-button class="linkClass">WATCH</button>
														</mat-card-actions>
													</mat-card>
												</div>

												<div class="flex-video">
													<mat-card>
														<mat-card-header>
															<div mat-card-avatar class="profilePic"></div>
															<mat-card-title class="campaignTitle">FERRIS AIR</mat-card-title>
															<mat-card-subtitle class="campaignTitle">AVIATION INDUSTRY</mat-card-subtitle>
														</mat-card-header>
														<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
														<mat-card-content>
															<p class="campaignTitle">
																Offering up to <span class="underline">40%</span> valued at <br><span class="underline">USD $200,000,000</span> 
																seeking <br><span class="underline">USD$ 400,000,000</span>.
															</p>
														</mat-card-content>
														<mat-card-actions>
															<button mat-button class="linkClass">INVEST</button>
															<button mat-button class="linkClass">WATCH</button>
														</mat-card-actions>
													</mat-card>
												</div>
											</div>
									</div>
												</div>
											</div>






										</section>

									</section>
<section class="menu-section-right">
<section class="accountSection">
<div class="accountSectionFlex">
<h2>
	Balance <br> 3,000 <br> tokens <br>
	<button mat-stroked-button class="menuBttn">
	<span class="linkClass">Log In
	</span>
	</button>
</h2>
</div>
</section>
<section class="monthSection">
	<section><div class="arrow-down"></div></section>
	<section><h3 class="linkClass">October</h3></section>
	<section><div class="arrow-up"></div></section>
</section>
		<section class="dateSection">
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="27">1</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="19">2</h2>
			</div>
			</div>

			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="2K">3</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="200">4</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="2.5K">5</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="104">6</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="3">7</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="67">8</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="23K">9</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="287">10</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="298">11</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="18">12</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="36">13</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="60">14</h2>
			</div>
			</div>
			<div class="first">
			<div class="firstInner">
			<h2 class="badge1" data-badge="72">17</h2>
			</div>
			</div>
			<div class="next">
			<div><p class="alegreyaserif">NEXT </p></div><div class="arrow-left"></div><!--<p>NEXT (18-31)</p>-->
			</div>
		</section>
</section>
</section>


								<section class="footer">
									<section class="footergridcontainer">
											<div class="footergrid">
											<h2 class="footerHeader">INVESTMENT STAGE</h2>
											<h3 class="footerHeader3">Are you ready to welcome investors ?</h3>
											<p class="footerParagraph">
											We provide an easy path for your business to <span class="underlineBlack">seek investments</span> , 
											<span class="underlineBlack">seek partnerships</span> , <span class="underlineBlack">vet investors</span> and accept any form of investment needed for your company growth.</p>
											<p class="footerParagraph">Looking for an investment opportunity ?<br>
											We have <span class="underlineBlack">135,700</span> opportunities in <span class="underlineBlack">50</span> regions across <span class="underlineBlack">5</span> countries.
											</p>
											</div>

											<div class="footerbottom">
												<div class="firstfooterflex">
													<img src="assets/funding.svg" style="height: 100px;width: 100px">
												</div>
												<div class="secondfooterflex">
												<h2><span>+</span> Seek Investments</h2>
												<h2><span>+</span> Available Investments</h2>
												</div>
											</div>
									</section>

									<section class="footergridcontainer">
											<div class="footerPledgeDeals">
											<h2 class="footerHeader">PLEDGE STAGE</h2>
											<h3 class="footerHeader3">Not sure which deal to offer investors ?</h3>
											<p class="footerParagraph">Try seeking different pledges untill you get one that is best for your company.</p>
											<p class="footerParagraph">We have <span class="underlineBlack">23,567</span> pledge opportunities across 
											<span class="underlineBlack">50</span> regions in <span class="underlineBlack">3</span> countries.</p>
											</div>
											<div class="pledgeBottom">
											<div class="firstfooterflex">
												<img src="assets/pledge.svg" style="height: 100px;width: 100px">
											</div>
											<div class="secondfooterflex">
												<h2><span>+</span> Seek Pledges</h2>
												<h2><span>+</span> Sponsor Pledges</h2>
											</div>
											</div>
									</section>

									<section class="footergridcontainer">
										<div class="footerCentral">
											<h3 class="footerHeader3">Investment process.</h3>
											<h3 class="footerHeader3">Pledge function.</h3>
											<h3 class="footerHeader3">About us.</h3>
											<h3 class="footerHeader3">Vacancies @ Mzynga.</h3>
											<h3 class="footerHeader3">Investments @ Mzynga.</h3>
										</div>
										<div class="dealsBottom">
											<div class="imgd"><span class="uptriangle"></span></div>
										</div>
									</section>

									<section class="footergridcontainer">
											<div class="footerPledgeDeals">
											<h2 class="footerHeader">BUSINESS DEALS</h2>
											<h3 class="footerHeader3">Looking to close business deals ?</h3>
											<p class="footerParagraph">These are deals seeking <span class="underlineBlack">partnerships, </span>
												<span class="underlineBlack">time,</span> <span class="underlineBlack">energy</span> or <span class="underlineBlack">skill</span> investments.You will also have the chance to 
												<span class="underlineBlack">run product surveys</span> , 
												<span class="underlineBlack">analyse business models</span> and 
												<span class="underlineBlack">work analysis</span> for your company.</p>
											<p class="footerParagraph">We have <span class="underlineBlack">83,467</span> business deals from organizations at pledge and investment stage.</p>
											</div>
											<div class="dealsBottom">
											<div class="firstfooterflex">
												<img src="assets/deals.svg" style="height: 100px;width: 100px">
											</div>
											<div class="secondfooterflex">
												<h2><span>+</span> Post a Deal</h2>
												<h2><span>+</span> Available deals</h2>
											</div>
											</div>
									</section>

									<section class="footergridcontainer">
											<div class="footergridwork">
											<h2 class="footerHeader">WORK OPPORTUNITIES</h2>
											<h3 class="footerHeader3">Are you looking for a part time or full time job ?</h3>
											<p class="footerParagraph">
											All work opportunities currently listed are generated by SMEs seeking investment or pledges.The opportunities range from <span class="underlineBlack">consultancy services</span> , <span class="underlineBlack">full time jobs</span> , <span class="underlineBlack">part time</span> and <span class="underlineBlack">one off tasks</span>.
											</p>
											<p class="footerParagraph">
												We have <span class="underlineBlack">9,873,467</span> work opportunities across 
												<span class="underlineBlack">14</span> industries in 
												<span class="underlineBlack">100</span> organization across <span class="underlineBlack">5</span> regions.
											</p>
											</div>
											<div class="footerbottom">
											<div class="firstfooterflex">
												<img src="assets/job.svg" style="height: 100px;width: 100px">
											</div>
											<div class="secondfooterflex">
												<h2><span>+</span> See all</h2>
												<h2><span>+</span> Learn more</h2>
											</div>
											</div>
									</section>
								</section>

							</body>
